.projects {
  color: black;

  .wrapper {
    margin-top: 60px;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    background-color: #fbfaff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .heading {
      background-color: black;
      height: 60px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
      h1 {
        margin: 0;
      }
    }

    .card-holder {
      display: flex;
      flex-direction: column;
      height: fit-content;
      margin: 0px 100px;
      justify-content: center;
      align-items: center;

      .sectiontitle {
        font-size: 50px;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      }

      .cards {
        display: flex;
        gap: 20px;
        @media (max-width:896px){
          flex-direction: column;
        }
      }

      .card {
        flex: 1;
        height: fit-content;
        padding: 30px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        transition: 0.5s ease-in-out;

        &:hover {
          box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
        }

        .title {
          text-align: center;
          h1 {
            margin: 0;
          }
        }
        .image {
          text-align: center;
          img {
            height: 200px;
            width: 500px;
            object-fit: cover;

            @media (max-width:896px){
              height: 100px;
              width: 300px;
            }
          }
        }
        .description {
          text-align: center;
        }

        .goto {
          display: flex;
          justify-content: center;
          margin-top: 20px;
          a {
            display: flex;
            font-size: 20px;
            text-decoration: none;
          }
        }

        .icons {
          display: flex;
          gap: 20px;
          justify-content: center;
          img {
            height: 50px;
            @media (max-width:896px){
              height:30px;
            }
            
          }
        }
      }
    }

    .projects-arrow-down {
      position: absolute;
      bottom: 0px;
      right: 50%;
      margin: 0 auto;
      cursor: pointer;
      font-size: 6rem;
      @media (max-width:896px){
        display: none;
      }

      @keyframes mover {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(10px);
        }
        100% {
          transform: translateY(0);
        }
      }

      &:hover {
        animation: mover 1s alternate infinite;
      }
    }

    .projects-arrow-up {
      position: absolute;
      top: 40px;
      right: 50%;
      margin: 0 auto;
      cursor: pointer;
      font-size: 6rem;
      @media (max-width:896px){
        display: none;
      }

      @keyframes mover {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(10px);
        }
        100% {
          transform: translateY(0);
        }
      }

      &:hover {
        animation: mover 1s alternate infinite;
      }
    }

    .top {
      height: 100vh;
      background-color: yellow;
    }
  }
}
