@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&display=swap");
$text: #070019;
$background: #fbfaff;
$primary: #5818fb;
$secondary: #dbcdfe;
$accent: #6b31fc;

.hero {
 

  .wrapper {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    background-color: $background;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    @media (max-width:896px){
      max-width: none;
      width: 100vw;
    }


    .MuiSvgIcon-root {
      position: absolute;
      bottom: 0px;
      right: 800px;
      cursor: pointer;
      font-size: 6rem;

      @media (max-width:896px){
        display: none;
      }

      @keyframes mover {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(10px);
        }
        100% {
          transform: translateY(0);
        }
      }

      &:hover {
        animation: mover 1s alternate infinite;
      }
    }

    .top {

      height: 100vh;
      display: flex;
      gap: 10px;
      @media (max-width:896px){
        flex-direction: column;
        width: 100%;
        gap: 0px;

      }

      .left {
        display: flex;
        flex: 1;
        justify-content: right;
        align-items: center;
        @media (max-width:896px){
          justify-content: center;
          align-items: self-end;
        }

        .info {
          font-family: monospace;
          margin: 5px;
          width: 600px;
          padding: 20px;

          .Typewriter {
            text-align: center;
            .typed {
              font-size: 60px;

              @media (max-width:896px){
                font-size: 20px;
              }

            }

            .Typewriter__cursor {
              font-size: 60px;
              @media (max-width:896px){
                font-size: 20px;
              }
            }
          }

          .content {
            .skill {
              margin-left: 5px;
              font-size: 1rem;
            }

            h1 {
              font-size: 5rem;
              @media (max-width:896px){
                font-size: 2.5rem;
              }
            }

            h2 {
              color: $primary;
              margin-left: 5px;
              font-size: 3rem;
              @media (max-width:896px){
                font-size: 1.5rem;
              }
            }

            .icons {
              display: flex;
              gap: 20px;
              margin: 10px 0px 0px 5px;

              img {
                height: 20px;
              }
            }
          }

          .content > * {
            margin: 0;
          }

          .react-card-back {
            border-right: 2px solid black;
            @media (max-width:896px){
              border-right: none;
              padding-bottom: 20px;
              border-bottom: 2px solid black;
            }
          }
        }
      }

      .right {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width:896px){
          justify-content: first baseline;
          margin-bottom: 100px;
        }

        img {
          height: 500px;
          width: 500px;
          border-radius: 50%;
          z-index: 2;
          object-fit: cover;
          @media (max-width:896px){
            height: 300px;
            width: 300px;
          }
        }
      }
    }

    .bot {
    }
  }
}
