.about {
  color: black;
  font-size: 20px;
  .wrapper {
    background-color: #fbfaff;
    margin-top: 60px;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .about-me {
      position: absolute;
      top: 180px;
      right: 0;
      transform: rotate(45deg);
    }

    .heading {
      height: 60px;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
      h1 {
        margin: 0;
      }
    }
    .slider {
      max-width: 800px;
      margin: 0 auto;

      .content {
        display: flex;
        gap: 10px;

        .left {
          img {
            height: 300px;
            width: 200px;
            object-fit: cover;
          }
        }
        .right {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .name {
            font-size: 40px;
            font-family: "DM Serif Display", serif;
            font-weight: bold;
          }
          .work {
            font-size: 20px;
            font-family: "DM Sans", sans-serif;
          }
          .quote {
            margin: 50px 20px 0px 20px;
            color: gray;
            font-weight: 1000;
            font-family: "Roboto Mono", monospace;
          }
        }
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        gap: 20px;

        @media (max-width: 768px) {
          flex-wrap: wrap;
        }

        .active {
          background-color: #4d4e51;
          color: #f5f5f5;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
        .inactive {
          color: #4d4e51;
          background-color: #f5f5f5;
        }

        button {
          width: 100%;
          padding: 10px 0;
          border: none;
          cursor: pointer;

          &:hover {
            background-color: #b7b8ba;
            color: #f6f6f6;
            transition: 0.2s;
          }
        }
      }
    }

    .about-arrow-down {
      position: absolute;
      bottom: 0px;
      right: 50%;
      margin: 0 auto;
      cursor: pointer;
      font-size: 6rem;
      @media (max-width:896px){
        display: none;
      }

      @keyframes mover {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(10px);
        }
        100% {
          transform: translateY(0);
        }
      }

      &:hover {
        animation: mover 1s alternate infinite;
      }
    }

    .about-arrow-up {
      position: absolute;
      top: 40px;
      right: 50%;
      margin: 0 auto;
      cursor: pointer;
      font-size: 6rem;
      @media (max-width:896px){
        display: none;
      }

      @keyframes mover {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(10px);
        }
        100% {
          transform: translateY(0);
        }
      }

      &:hover {
        animation: mover 1s alternate infinite;
      }
    }
  }
}
